branches:
  - main
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - "@google/semantic-release-replace-plugin"
    - replacements:
        - files:
            - "./GoogleMapsPlatformCombine.podspec"
          from: "s.version(\\s)*= '.*'"
          to: "s.version          = '${nextRelease.version}'"

        - files:
            - "README.md"
          from: ", '([0-9]+).([0-9]+).([0-9]+)'"
          to: ", '${nextRelease.version}'"

        - files:
            - "Package.swift"
          from: "v([0-9]+).([0-9]+).([0-9]+)"
          to: "v${nextRelease.version}"

  - - "@semantic-release/exec"
    - verifyConditionsCmd: "pod lib lint"
      publishCmd: "pod trunk push"
  - - "@semantic-release/git"
    - assets:
        - "./GoogleMapsPlatformCombine.podspec"
        - "*.md"
        - "Package.swift"
  - - "@semantic-release/github"
    - assets:
        - "./GoogleMapsPlatformCombine.xcframework.zip"

options:
  debug: true
